<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->

<link rel="shortcut icon" type="image/x-icon" href="{{'assets/site-pics/favicon.ico' | absolute_url}}">

<!-- Including LaTeX extention -->
<script>
  (function () {
    var newMathJax = 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js';
    var oldMathJax = 'cdn.mathjax.org/mathjax/latest/MathJax.js';
  
    var replaceScript = function (script, src) {
      // Create configuration script for MathJax
      var configScript = document.createElement('script');
      configScript.type = 'text/x-mathjax-config';
      configScript.text = `
        MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [['$', '$'], ['\\\\(', '\\\\)']],
            displayMath: [['$$', '$$'], ['\\\\[', '\\\\]']],
            processEscapes: true,
            processEnvironments: true,
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
          },
          "HTML-CSS": { availableFonts: ["TeX"] }
        });
      `;
      document.head.appendChild(configScript);
  
      // Make redirected MathJax script
      var newScript = document.createElement('script');
      newScript.src = newMathJax + src.replace(/.*?(\?|$)/, '$1');
      
      // Move onload and onerror handlers to new script
      newScript.onload = script.onload; 
      newScript.onerror = script.onerror;
      script.onload = script.onerror = null;
  
      // Move any content (old-style configuration scripts)
      while (script.firstChild) newScript.appendChild(script.firstChild);
  
      // Copy script id
      if (script.id != null) newScript.id = script.id;
  
      // Replace original script with new one
      script.parentNode.replaceChild(newScript, script);
  
      // Issue a console warning
      console.warn('WARNING: cdn.mathjax.org has been retired. Check https://www.mathjax.org/cdn-shutting-down/ for migration tips.');
    }
  
    if (document.currentScript) {
      var script = document.currentScript;
      replaceScript(script, script.src);
    } else {
      // Look for current script by searching for one with the right source
      var n = oldMathJax.length;
      var scripts = document.getElementsByTagName('script');
      for (var i = 0; i < scripts.length; i++) {
        var script = scripts[i];
        var src = (script.src || '').replace(/.*?:\/\//,'');
        if (src.substr(0, n) === oldMathJax) {
          replaceScript(script, src);
          break;
        }
      }
    }
  })();
  </script>
  

<!-- end custom head snippets -->
