<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}
<div id="sfcxjmf9nsdu1zl8s82qhydjd5rb6wtyzkf"></div><script type="text/javascript" src="https://counter6.optistats.ovh/private/counter.js?c=xjmf9nsdu1zl8s82qhydjd5rb6wtyzkf&down=async" async></script><br><a href="https://www.freecounterstat.com">page hit counter</a><noscript><a href="https://www.freecounterstat.com" title="page hit counter"><img src="https://counter6.optistats.ovh/private/freecounterstat.php?c=xjmf9nsdu1zl8s82qhydjd5rb6wtyzkf" border="0" title="page hit counter" alt="page hit counter"></a></noscript>

<!-- You can set your favicon here -->

<link rel="shortcut icon" type="image/x-icon" href="{{'assets/site-pics/favicon.ico' | absolute_url}}">

<!-- end custom head snippets -->
