---
layout: default
---
{% include head-custom.html %}
<h2 class="meta">Last Updated: {{ page.date | date_to_string }}</h2>

{{ content }}

<div class="tags">
    <p>Tags: 
        {% for tag in page.tags %}
            <a href="/topics/{{ tag | slugify }}/" class="tag">{{ tag }}</a>
        {% endfor %}
    </p>
</div>

<div id="comments">
    <script src="https://giscus.app/client.js"
            data-repo="jxnpass/jxnpass.github.io"
            data-repo-id="R_kgDOKWHV_g"
            data-category="General"
            data-category-id="DIC_kwDOKWHV_s4Cl1BX"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="light"
            data-lang="en"
            crossorigin="anonymous"
            async>
    </script>
</div>
